* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #031126;
}

/* Landing Page */

.landing {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.landing h1 {
    margin-left: 5rem;
    font-family: 'Niconne', cursive;
    font-size: 5rem;
    color: #fff;
}

.landing img {
    height: 100vh;
    width: auto;
}